body{
    background-color: beige;
}
ul{
    display: inline-flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
}
li{
    margin-left: 8px;
}
h1{
    text-align: center;
}